.btn-action{
	color: #f8b460;
}
.btn-action:hover{
	background-color: crimson;
}
#title{
	text-align: center;
	margin: 1px;
	color: white;
}
.container{
	display: flex;
	justify-content: center;
}
img{
	/*ajusta el contenido y mantiene la calidad de las imagenes*/
	object-fit: cover;
}
@media (min-width: 751px){
	#title{
		color: rgb(255, 255, 255);
	}
}

@media (max-width: 750px){
	#title{
		color: rgb(116, 116, 116);
	}
}
.precio{
background-color: rgb(7, 166, 240);
color: white;
}

