.btn-action{
	color: #f8b460;
}
.btn-action:hover{
	background-color: crimson;
}
#title{
	text-align: center;
	margin: 1px;
	color: white;
}
.container{
	display: flex;
	justify-content: center;
}
img{
	height: 8px;
	/*ajusta el contenido y mantiene la calidad de las imagenes*/
	object-fit: cover;
}
@media (min-width: 751px){
	#title{
		color: red;
	}
}

@media (max-width: 750px){
	#title{
		color: green;
	}
}

