/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Oswald:wght@200..700&display=swap');
*{
	font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body{
	background-color: rgb(46, 47, 48);
}
.footer{
  background-color: rgb(1, 29, 105);
}
.copy{
  color: grey
}